In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

ModuleNotFoundError: No module named 'gmaps'

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rochester,US,2022-08-10 04:45:42,43.1548,-77.6156,69.08,84,75,6.91
1,1,Bathsheba,BB,2022-08-10 04:46:50,13.2167,-59.5167,83.01,83,40,16.11
2,2,Kisangani,CD,2022-08-10 04:46:51,0.5167,25.2000,71.49,79,41,1.32
3,3,Komsomolskiy,UZ,2022-08-10 04:46:51,40.4272,71.7189,83.12,28,34,9.22
4,4,Vao,NC,2022-08-10 04:46:51,-22.6667,167.4833,67.39,61,3,19.86

In [4]:
# confirm data we want is an int or float because gmaps needs this formate
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

NameError: name 'gmaps' is not defined

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#  locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#  temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#  fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#  heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#  fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#  fig

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [32]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 95

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Vaini,TO,2020-08-21 02:34:29,-21.20,-175.20,80.60,83,75,4.70
16,16,Panikian,PH,2020-08-21 02:36:44,7.01,126.02,82.40,78,20,5.82
26,26,Choix,MX,2020-08-21 02:36:47,26.71,-108.32,80.73,76,81,2.04
42,42,Hambantota,LK,2020-08-21 02:34:38,6.12,81.12,82.40,88,20,10.29
44,44,Filingue,NE,2020-08-21 02:36:53,14.35,3.32,85.23,59,70,14.72
49,49,Georgetown,MY,2020-08-21 02:33:52,5.41,100.34,87.80,79,20,4.70
58,58,Isangel,VU,2020-08-21 02:35:55,-19.55,169.27,84.20,62,20,5.82
59,59,Adrar,MR,2020-08-21 02:36:57,20.50,-10.07,89.44,39,22,12.75
60,60,Butaritari,KI,2020-08-21 02:34:16,3.07,172.79,82.69,75,92,11.95
63,63,Kapaa,US,2020-08-21 02:34:35,22.08,-159.32,84.20,66,75,13.87

In [45]:
preferred_cities_df.count()

City_ID       122
City          122
Country       122
Date          122
Lat           122
Lng           122
Max Temp      122
Humidity      122
Cloudiness    122
Wind Speed    122
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
8        Vaini      TO     80.60 -21.20 -175.20
16    Panikian      PH     82.40   7.01  126.02
26       Choix      MX     80.73  26.71 -108.32
42  Hambantota      LK     82.40   6.12   81.12
44    Filingue      NE     85.23  14.35    3.32
49  Georgetown      MY     87.80   5.41  100.34
58     Isangel      VU     84.20 -19.55  169.27
59       Adrar      MR     89.44  20.50  -10.07
60  Butaritari      KI     82.69   3.07  172.79
63       Kapaa      US     84.20  22.08 -159.32

In [52]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")
        hotel_df.head(10)

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [77]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Vaini,TO,80.60,-21.20,-175.20,Keleti Beach Resort
16,Panikian,PH,82.40,7.01,126.02,Piso Bucana
26,Choix,MX,80.73,26.71,-108.32,Hotel Montesclaros
42,Hambantota,LK,82.40,6.12,81.12,Bungalow 63
44,Filingue,NE,85.23,14.35,3.32,
49,Georgetown,MY,87.80,5.41,100.34,Cititel Penang
58,Isangel,VU,84.20,-19.55,169.27,Volcano Sea View Tree House
59,Adrar,MR,89.44,20.50,-10.07,
60,Butaritari,KI,82.69,3.07,172.79,Isles Sunset Lodge
63,Kapaa,US,84.20,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
67,Vanimo,PG,85.82,-2.67,141.30,Vahmoneh Lodge Vanimo
68,Bengkulu,ID,86.34,-3.80,102.27,Grage Hotel Bengkulu
69,Chihuahua,MX,89.60,28.50,-106.00,
79,Susangerd,IR,80.60,31.56,48.18,فاطمه ابرفت
83,Morant Bay,JM,80.60,17.88,-76.41,Whispering Bamboo Cove Resort
90,Beihai,CN,84.61,21.48,109.10,21 Degree Hostel
91,Kieta,PG,84.47,-6.22,155.63,
92,Hilo,US,80.60,19.73,-155.09,Hilo Hawaiian Hotel
97,Lorengau,PG,86.04,-2.02,147.27,Lorengau Harbourside Hotel
98,Laguna,US,84.00,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...

In [78]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [79]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [80]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))